<nav class="flex justify-around bg-amber-800 p-4 text-lg text-white">
  <a href="/hikes">View All Hikes</a>
  <a href="/hikes/hike/create">Create Hike</a>
  <a href="/hikes/category">View All Categories</a>
  <a href="/hikes/category/create">Create New Category</a>
</nav>
